a[href="about-us"] {
    color: royalblue;
}
a[href="skills"] {
    color: violet;
}
a[href="portfolio"] {
    color: pink;
}
a[href="contact"] {
    color: black;
}
.nav-item {
    color: green
}

#about-us {
    background-color: silver;
}

.display {
    text-align: center;    
}

.display1 {
    height: 150px;
    width: 150px;   
    background-color: red;
    display: inline-block;
    font-size: 16;
}

.display2 {
    height: 180px;
    width: 180px;   
    background-color:blue;
    display: inline-block;
    font-size: 16;
}

.display3 {
    height: 220px;
    width: 220px;   
    background-color: green;
    display: inline-block;
    font-size: 16;
}

.display4 {
    height: 50px;
    width: 50px;   
    background-color: violet;
    display: inline-block;
    font-size: 16;
}

.square {
    width: 100px;
    height: 100px;  
    background-color: purple;
    border: 5px solid gold;
}
